<div class="qx-index--hero">
  <br />
  <div class="qx-index--hero-text-outer">
    <br />
    <h1 class="qx-index--hero-text">Welcome to the Quixter app!</h1>
    <br />
    <h2 class="qx-index--hero-text">Learn how to code, quickly</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
